<a href="https://colab.research.google.com/github/kingketan9/CloudComputingLabs/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Load the dataset "daily_weather.csv" into a dataframe

In [9]:
import pandas as pd

df = pd.read_csv('/content/daily_weather.csv')

2. Print the datatypes of all columns of the dataframe

In [10]:
df.dtypes

number                      int64
air_pressure_9am          float64
air_temp_9am              float64
avg_wind_direction_9am    float64
avg_wind_speed_9am        float64
max_wind_direction_9am    float64
max_wind_speed_9am        float64
rain_accumulation_9am     float64
rain_duration_9am         float64
relative_humidity_9am     float64
relative_humidity_3pm     float64
dtype: object

3. Print the statistics of the dataframe

In [11]:
df.describe(include='all')

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
count,1095.000000,1092.000000,1090.000000,1091.000000,1092.000000,1092.000000,1091.000000,1089.000000,1092.000000,1095.000000,1095.000000
mean,547.000000,918.882551,64.933001,142.235511,5.508284,148.953518,7.019514,0.203079,294.108052,34.241402,35.344727
std,316.243577,3.184161,11.175514,69.137859,4.552813,67.238013,5.598209,1.593952,1598.078779,25.472067,22.524079
min,0.000000,907.990000,36.752000,15.500000,0.693451,28.900000,1.185578,0.000000,0.000000,6.090000,5.300000
25%,273.500000,916.550000,57.281000,65.972506,2.248768,76.553003,3.067477,0.000000,0.000000,15.092243,17.395000
50%,547.000000,918.921045,65.715479,166.000000,3.871333,177.300000,4.943637,0.000000,0.000000,23.179259,24.380000
75%,820.500000,921.160073,73.450974,191.000000,7.337163,201.233153,8.947760,0.000000,0.000000,45.400000,52.060000
max,1094.000000,929.320000,98.906000,343.400000,23.554978,312.200000,29.840780,24.020000,17704.000000,92.620000,92.250000

4. Print the first three rows of the dataframe

In [12]:
df.head(3)

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000

5. Print the last three rows of the dataframe

In [13]:
df.tail(3)

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
1092,1092,916.60,71.096,189.3,3.064608,200.8,3.892276,0.0,0.0,45.59,52.31
1093,1093,912.60,58.406,172.7,3.825167,189.1,4.764682,0.0,0.0,64.84,58.28
1094,1094,921.53,77.702,97.1,3.265932,125.9,4.451511,0.0,0.0,14.56,15.10

6. Print any 6 randomly picked rows

In [14]:
df.sample(n = 6)

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
891,891,920.280000,74.030000,120.900000,2.236940,119.800000,2.885653,0.00,0.0,13.480000,10.370000
134,134,920.201586,57.810237,80.480355,5.385117,93.970289,7.435260,0.00,0.0,14.379233,13.266998
613,613,919.300000,39.956000,192.100000,1.409272,108.700000,2.192201,0.26,2770.0,83.810000,69.740000
799,799,917.650000,82.436000,108.000000,2.214571,62.800000,2.840914,0.00,0.0,7.130000,17.610000
332,332,918.694867,74.675773,36.538267,2.644400,69.286935,3.479076,0.00,0.0,10.839536,20.314867
800,800,919.880000,61.502000,192.200000,10.916267,201.700000,12.571603,0.00,0.0,20.220000,30.420000

7. Print all column names

In [16]:
list(df.columns)

['number',
 'air_pressure_9am',
 'air_temp_9am',
 'avg_wind_direction_9am',
 'avg_wind_speed_9am',
 'max_wind_direction_9am',
 'max_wind_speed_9am',
 'rain_accumulation_9am',
 'rain_duration_9am',
 'relative_humidity_9am',
 'relative_humidity_3pm']

8. Are there any missing values in the dataframe? (Use the Info function)

In [20]:
df.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   number                  1095 non-null   bool
 1   air_pressure_9am        1095 non-null   bool
 2   air_temp_9am            1095 non-null   bool
 3   avg_wind_direction_9am  1095 non-null   bool
 4   avg_wind_speed_9am      1095 non-null   bool
 5   max_wind_direction_9am  1095 non-null   bool
 6   max_wind_speed_9am      1095 non-null   bool
 7   rain_accumulation_9am   1095 non-null   bool
 8   rain_duration_9am       1095 non-null   bool
 9   relative_humidity_9am   1095 non-null   bool
 10  relative_humidity_3pm   1095 non-null   bool
dtypes: bool(11)
memory usage: 11.9 KB

9. Sort the data by the index in ascending order

In [26]:
df = df.sort_index(ascending=True)
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

10. Sort the dataframe according to the column "air_temp_9am" in descending order

In [28]:
df = df.sort_values(by='air_temp_9am',ascending=False)
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
720,720,913.70,98.906,192.7,2.125093,53.4,3.355410,0.0,0.0,11.49,30.02
30,30,919.35,91.112,96.4,2.527742,96.3,3.377779,0.0,0.0,25.62,35.69
662,662,917.16,90.266,331.8,2.818544,249.9,4.294925,0.0,0.0,20.71,31.31
312,312,915.10,89.780,159.5,2.639589,189.2,3.758059,0.0,0.0,30.27,34.53
260,260,916.65,89.402,185.2,1.722444,217.5,2.192201,0.0,0.0,12.05,14.08

11.  Print the rows where "air_pressure_9am">918

In [38]:
df = df[df['air_pressure_9am'] > 918]
df

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
30,30,919.350000,91.112,96.400000,2.527742,96.300000,3.377779,0.00,0.0,25.620000,35.690000
872,872,918.200000,89.204,225.500000,1.185578,265.000000,1.767183,0.00,0.0,26.570000,29.360000
739,739,919.100000,87.602,275.700000,2.102724,133.600000,3.265932,0.00,0.0,14.570000,39.360000
907,907,918.600000,87.440,40.900000,3.400149,53.500000,4.406772,0.00,0.0,12.110000,12.520000
311,311,919.490000,85.550,95.800000,3.176455,51.200000,4.048861,0.00,0.0,16.080000,21.390000
...,...,...,...,...,...,...,...,...,...,...,...
77,77,921.610000,38.138,46.600000,4.518619,59.600000,5.525242,0.00,0.0,29.800000,16.400000
636,636,919.480000,36.752,311.400000,3.511996,133.900000,5.234440,0.27,310.0,41.760000,50.700000
840,840,918.043767,NaN,181.774042,0.964376,185.618601,1.570007,0.00,0.0,11.911222,18.154358
861,861,919.065408,NaN,172.303728,2.639600,193.058141,3.326949,0.00,0.0,12.497839,13.438518
1031,1031,922.669195,NaN,47.946284,7.969686,65.770066,10.262337,0.00,0.0,18.920805,19.641841